body {
  background-color: snow;
  color: darkolivegreen;
}

td {
  margin: 5px;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
  text-align: left;
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.grid-item {
  vertical-align: top;
}

.grid-container-detail {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

.great {
  background-color: lightgreen;
  color: forestgreen;
}

.normal {
  background-color: lightblue;
}

.warn {
  background-color: lemonchiffon;
  color: goldenrod;
}

.critical {
  background-color: salmon;
  color: maroon;
}

.link {
  color: steelblue;
}

.link:hover {
  cursor: pointer
}

.dashboard-box {
  background: whitesmoke;
  padding: 10px;
  box-shadow: 5px 5px lightgray;
}
