body {
  background-color: white;
}

h1 {
  color: navy;
  margin-left: 20px;
}

.grid-container {
  display: grid;
  grid-gap: 50px 100px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-evenly;
}

.great {
  background-color: lightgreen;
}

.normal {
  background-color: lightblue;
}

.warn {
  background-color: beige;
}

.critical {
  background-color: indianred;
}
